.axis path,
.axis line {
    fill: none;
    stroke: #666;
}
.axis {
  font-family: "helvetica-nueue";
    font-size: 10px;
}
.dot {
  /* fill: #ff1100; */
  stroke: #fff;
}
.param {
  display: inline-block;
}
.trace {
  fill: none;
  /* stroke: #ff0000; */
  stroke-width: 2;
  stroke-linecap: round;
}

.container {
  padding: 10px;
  width: 800px;
  margin: 0;
}

.methodRow {
  display: flex;
  justify-content: space-between;
}

select {
  margin-bottom: 10px;
}

.resultRow {
  display: flex;
}

#clearButton {
  height: 30px;
  margin: auto 10px;
}

#targetFunction {
  display: flex;
  justify-content: center;
}

#resultMessage {
  width: 100%;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
}

#resultMessage.correct {
  background-color: #c0eec0;
}

#resultMessage.incorrect {
  background-color: #eec0c0;
}

.parameterContainer {
  width: 50%;
}

.legend {
  display: flex;
  justify-content: space-between;
}

#colorBox {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  border: 1px solid #000;
}